In [1]:
import pandas as pd
import numpy as np

In [14]:
file_loc = '/Users/ernestvmo/Downloads/2012.csv'

In [15]:
df = pd.read_csv(file_loc)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10,73,103,110,111) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2012,40,17,1012012,115,1,O,P,2.0,ROBBERY,...,,40,C,*,,1008031,233036,CM,1,85
1,2012,23,691,1012012,310,1,I,P,2.0,M,...,,23,D,,12,1000852,228179,CM,1,9
2,2012,81,3714,1012012,2000,1,O,P,1.0,ROBBERY,...,,81,C,3,,1001869,190702,CM,1,85
3,2012,81,633,1022012,1245,1,O,P,3.0,ROBBERY,...,,81,J,*,,1005306,186668,CM,1,85
4,2012,66,36,1042012,2220,A,O,P,2.0,FELONY,...,,66,J,,,986887,173599,CM,1,46

In [9]:
dates = df['datestop'].values

In [10]:
dates

array([ 1012012,  1012012,  1012012, ..., 11042012, 11042012, 11082012])

In [25]:
def format_date(dataframe, column):
    new_date = []
    format_date = '%d/%m/%Y'
    for fulldate in dataframe[column].values.astype('str'):
        year, fulldate = int(fulldate[-4:]), fulldate[:-4] 
        day, fulldate = int(fulldate[-2:]), fulldate[:-2] 
        month = int(fulldate[:])
        new_date.append(f'{day}/{month}/{year}')
    dataframe[column] = pd.to_datetime(new_date, format=format_date)
    return dataframe

In [26]:
new_df = format_date(df, column='datestop')

In [27]:
new_df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2012,40,17,2012-01-01,115,1,O,P,2.0,ROBBERY,...,,40,C,*,,1008031,233036,CM,1,85
1,2012,23,691,2012-01-01,310,1,I,P,2.0,M,...,,23,D,,12,1000852,228179,CM,1,9
2,2012,81,3714,2012-01-01,2000,1,O,P,1.0,ROBBERY,...,,81,C,3,,1001869,190702,CM,1,85
3,2012,81,633,2012-01-02,1245,1,O,P,3.0,ROBBERY,...,,81,J,*,,1005306,186668,CM,1,85
4,2012,66,36,2012-01-04,2220,A,O,P,2.0,FELONY,...,,66,J,,,986887,173599,CM,1,46

In [3]:
file_loc_311 = '/Users/ernestvmo/OneDrive - Universiteit Leiden/Q1/Urban Computing/Project/data/311_Service_Requests_from_2010_to_Present.csv'

In [4]:
df = pd.read_csv(file_loc_311)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,17,34,35,36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,23525569,07/01/2012 12:00:00 AM,07/05/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,RUBBISH,RESIDENTIAL BUILDING,10454,226 WILLIS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.808520,-73.923296,"(40.80852004566505, -73.92329572996589)"
1,23530609,07/01/2012 12:00:00 AM,07/09/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,TOILET,RESIDENTIAL BUILDING,10467,3230 CRUGER AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.872255,-73.866129,"(40.87225493792927, -73.8661287701622)"
2,23530576,07/01/2012 12:00:00 AM,07/17/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,VERMIN,RESIDENTIAL BUILDING,11221,112 PATCHEN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.687910,-73.927073,"(40.68790999907652, -73.9270727247861)"
3,23531354,07/01/2012 12:00:00 AM,07/09/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,10454,297 ALEXANDER AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.811222,-73.924300,"(40.8112215178464, -73.92430049850458)"
4,23530949,07/01/2012 12:00:00 AM,07/10/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,11361,210-02 42 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.762116,-73.774047,"(40.76211639957578, -73.77404696406886)"

In [12]:
df['City']

0                  BRONX
1                  BRONX
2               BROOKLYN
3                  BRONX
4                BAYSIDE
               ...
1853020         BROOKLYN
1853021         NEW YORK
1853022    East Elmhurst
1853023    STATEN ISLAND
1853024         NEW YORK
Name: City, Length: 1853025, dtype: object

In [11]:
for l in list(df.columns.values):
    print(l)

Unique Key
Created Date
Closed Date
Agency
Agency Name
Complaint Type
Descriptor
Location Type
Incident Zip
Incident Address
Street Name
Cross Street 1
Cross Street 2
Intersection Street 1
Intersection Street 2
Address Type
City
Landmark
Facility Type
Status
Due Date
Resolution Description
Resolution Action Updated Date
Community Board
BBL
Borough
X Coordinate (State Plane)
Y Coordinate (State Plane)
Open Data Channel Type
Park Facility Name
Park Borough
Vehicle Type
Taxi Company Borough
Taxi Pick Up Location
Bridge Highway Name
Bridge Highway Direction
Road Ramp
Bridge Highway Segment
Latitude
Longitude
Location