# 311 service request data

In [4]:
import pandas as pd
import numpy as np

In [5]:
df_311=pd.read_csv('311_Service_Requests_from_2010_to_Present.csv')

C:\Users\erika\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,17,34,35,36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df_311.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,23525569,07/01/2012 12:00:00 AM,07/05/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,RUBBISH,RESIDENTIAL BUILDING,10454,226 WILLIS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.808520,-73.923296,"(40.80852004566505, -73.92329572996589)"
1,23530609,07/01/2012 12:00:00 AM,07/09/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,TOILET,RESIDENTIAL BUILDING,10467,3230 CRUGER AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.872255,-73.866129,"(40.87225493792927, -73.8661287701622)"
2,23530576,07/01/2012 12:00:00 AM,07/17/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,VERMIN,RESIDENTIAL BUILDING,11221,112 PATCHEN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.687910,-73.927073,"(40.68790999907652, -73.9270727247861)"
3,23531354,07/01/2012 12:00:00 AM,07/09/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,10454,297 ALEXANDER AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.811222,-73.924300,"(40.8112215178464, -73.92430049850458)"
4,23530949,07/01/2012 12:00:00 AM,07/10/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,11361,210-02 42 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.762116,-73.774047,"(40.76211639957578, -73.77404696406886)"

In [4]:
df_311['Created Date'] #it was already filtered weeey

0          07/01/2012 12:00:00 AM
1          07/01/2012 12:00:00 AM
2          07/01/2012 12:00:00 AM
3          07/01/2012 12:00:00 AM
4          07/01/2012 12:00:00 AM
                    ...
1853020    06/30/2013 12:00:00 AM
1853021    06/30/2013 12:00:00 AM
1853022    06/30/2013 12:00:00 AM
1853023    06/30/2013 12:00:00 AM
1853024    06/30/2013 12:00:00 AM
Name: Created Date, Length: 1853025, dtype: object

In [7]:
df_311.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [10]:
#now a list of the chosen colums to store for later!
listOfCol=['Created Date','Closed Date','Complaint Type','Descriptor','Incident Zip','X Coordinate (State Plane)','Y Coordinate (State Plane)']

In [6]:
df_311['X Coordinate (State Plane)'] #okay so this was the format the other one used aswell!

0          1005484.0
1          1021274.0
2          1004475.0
3          1005205.0
4          1046844.0
             ...
1853020    1003028.0
1853021    1003928.0
1853022    1018302.0
1853023     949019.0
1853024     989836.0
Name: X Coordinate (State Plane), Length: 1853025, dtype: float64

But since this data already have longitude/latitude for us, we might as well delete those rows to make the data smaller!

In [83]:
df_311=df_311.drop(columns=['X Coordinate (State Plane)','Y Coordinate (State Plane)'])
df_311.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [11]:
df=df_311[listOfCol] #closed date was the date that the service request was closed by responding agency - here again should only pick first date?
df.head()

,Created Date,Closed Date,Complaint Type,Descriptor,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane)
0,07/01/2012 12:00:00 AM,07/05/2012 12:00:00 AM,NONCONST,RUBBISH,10454,1005484.0,233852.0
1,07/01/2012 12:00:00 AM,07/09/2012 12:00:00 AM,PLUMBING,TOILET,10467,1021274.0,257092.0
2,07/01/2012 12:00:00 AM,07/17/2012 12:00:00 AM,NONCONST,VERMIN,11221,1004475.0,189909.0
3,07/01/2012 12:00:00 AM,07/09/2012 12:00:00 AM,PAINT - PLASTER,CEILING,10454,1005205.0,234836.0
4,07/01/2012 12:00:00 AM,07/10/2012 12:00:00 AM,PAINT - PLASTER,CEILING,11361,1046844.0,217017.0

## Next step, assign to regions!

In [14]:
df.to_csv('311filtered.csv')